html,body
{
	overflow-x: hidden;
}

.no-float
{
	float: none;
}

.float-left
{
	float: left !important;
}

.float-right
{
	float: right !important;
}

.icon-login
{
	font-size: 50px;
}

.inline-block
{
	display: inline-block !important;
}

.text-center
{
	text-align: center;
}

.pointer
{
	cursor: pointer;
}

.btn-login.active
{
	color: red;
}

.btn-edit
{
	line-height: 15px !important;
	height: 25px !important;
	width: 15px !important;
	position: relative;
}

.btn-edit i
{
	position: absolute;
	top: 6px;
	left: 5px;
}

.titulo
{
	color: black;
	border-radius: 0 !important;
}

.titulo:hover
{
	border: 1px solid transparent;

}