@media print {
  body * {
    visibility: hidden !important;
  }
  #section-to-print, #section-to-print * {
    visibility: visible !important;
  }
  #section-to-print {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    display: block;
  }
  .col-md-10
  {
  	width: 100% !important;
  	position: absolute !important;
  	top: 0 !important;
  	left: 0 !important;
  }
  .pd-20
  {
  	padding: 0px !important;
  }
  .hidden-to-print
  {
    display: none !important;
  }
}

html,body
{
	overflow-x: hidden;
}

.no-float
{
	float: none;
}

.float-left
{
	float: left !important;
}

.float-right
{
	float: right !important;
}

.icon-login
{
	font-size: 50px;
}

.inline-block
{
	display: inline-block !important;
}

.text-center
{
	text-align: center;
}

.pointer
{
	cursor: pointer;
}

.btn-login.active
{
	color: red;
}

.btn-edit
{
	line-height: 15px !important;
	height: 25px !important;
	width: 15px !important;
	position: relative;
}

.btn-edit i
{
	position: absolute;
	top: 6px;
	left: 5px;
}

.titulo
{
	color: black;
	border-radius: 0 !important;
}

.titulo:hover
{
	border: 1px solid transparent;

}

.pd-20
{
	padding: 20px;
}

.col-actions
{
  width: 80px;
}

.radio input[type=radio]
{
  margin-top: 1px !important;
}

.w-100
{
  width: 100%;
}

.none
{
  display: none;
}